:root{
    // colors
    --color-white: #fff;
    --color-black: #000;
    --bg-color-light:#e1f5fe;
    --color-gray-dark:#282828;
    --color-gray-med: rgb(216, 216, 216);

    --color-primary:#020334;
    --color-secondary:#ee2762;
    --color-secondary-dark:#d41e55;

}