@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../abstract/mixins';
*,
html{
    scrollbar-color: var(--color-primary) rgba(0,0,0,0.4);
    scrollbar-width: thin;
}
html{
    font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%
    @include respond(tab-port){
      font-size: 70%;
    }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

.body{
  overflow: hidden;
}
input:focus, input:active{
  outline: none;
}
a,
a:focus,
a:active{
  text-decoration: none;
  color: inherit;
}