 @import '../../../assets/scss/abstract/mixins';   
.viewport{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background-color: var(--color-white);
    position: relative;
    color: var(--color-primary);
    @include respond(phone){
        width: 500px;
    }
    &__title{
        font-size: 4rem;
        text-align: center;
        margin-top: 5rem;
    }
    .ok-icon{

        svg{
            width: 8rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: var(--color-secondary);
        }
    }
}
.btns-container{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: auto;
}
.share-icons{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 5rem;
    &__btn{
        cursor: pointer;
        svg{
            width: 3rem;
        }
    }
}