@import '../../../assets/scss/abstract/mixins'; 
.favourites{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include respond(break-1080){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond(big-desktop){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__item{
        width: 100%;
    }
}