.nav{
    &__nav{
        z-index: -1;
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        h3{
            font-size: 3.8rem;
            margin-top: 3rem;
        }
        &--adress{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            color: var(--color-primary);
            height: 2rem;
            p{
                font-size: 1.7rem;
                margin-left: 1rem;
            }
            svg{
                width: 1.4rem;
                fill: inherit;
            }
        }
        
    }
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: transparent;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(var(--color-white), 0.1);
        text-align: center;
        cursor: pointer;
        position: relative;
        padding-top: 1rem;
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--bg-color-light);
        z-index: 1000;
        transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
        // @include respond(tab-port) {
        //   top: 3.5rem;
        //   right: 3.5rem;
        // }
      }
       //   functionality
     &__checkbox:checked ~ &__background {
        height: 100vh;
        width: 100vw;
        border-radius: 0%;
    }
    &__checkbox:checked ~ &__nav {
        z-index: 1500;
        opacity: 1;
        width: 100%;
    }

    //icon
    &__icon {
        position: relative;
        &,
        &:after,
        &::before {
            border-radius: 1px;
            width: 2.5rem;
            height: 3px;
            background-color: var(--color-gray-dark);
            display: inline-block;
        }
        &:after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }
        &:before {
            top: -0.8rem;
            transform-origin: center;
        }
        &:after {
            top: 0.8rem;
            transform-origin: center;
        }
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
        &:before {
        top: 0;
        transform: rotate(135deg);
        }
        &:after {
        top: 0;
        transform: rotate(-135deg);
        }
    }
}

.nav-bar{
    width: 100%;
    margin-top: 5rem;
    svg{
        width: 2rem;
        margin-right: 1rem;
    }
    &__list{
        list-style: none;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    &__item{
        a{
            border-bottom: 1px solid var(--color-primary);
        }
        &:first-child{
            border-top: 1px solid var(--color-primary);
        }
       

    }
    a{
        display: flex;
        padding: 2rem 1rem;
        align-items: center;
        width: 100%;    
        font-size: 2rem;
    }
    .settings-btn{
        padding: 0 2rem;
        margin-top: 10rem;
    }
}