<div class="nav">
    <div class="nav_mobile">
        <input
            type="checkbox"
            id="navi-toggle"
            class="nav__checkbox"
            name="navBar"
            [(ngModel)]="navBar"
        /> 
        <label for="navi-toggle" class="nav__button">
            <span class="nav__icon">&nbsp;</span>
        </label>
        <div class="nav__background">&nbsp;</div>
        <div class="nav__nav">
            <app-thumbnail [size]="150" imageUrl="assets/images/profile.jpg"></app-thumbnail>
            <h3>{{activeUser.name}}</h3>
            <div class="nav__nav--adress"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"/></svg>
                <p>{{activeUser.adress}}</p> 
            </div>
            <app-navigation (closeNavEvent)="closeNavBar()"></app-navigation>
        </div>
    </div>
    <div class="nav_desktop">
        <app-navigation (closeNavEvent)="closeNavBar()"></app-navigation>
    </div>
</div>