@import '../../../assets/scss/abstract/mixins'; 
.home{
    &__card-container{
        display: grid;
        grid-template-columns: 1fr;
        @include respond(phone){
           grid-template-columns: 1fr 1fr;
           gap: 2rem;
        }
        @include respond(break-1080){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include respond(big-desktop){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

}
.loader-container{
    width: 100%;
    margin: 0 auto;
}